src/conf/xml-resources/web-service-references/SearchWS/wsdl/localhost_8080/SearchWS/SearchWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="searchVideoByAuthor" type="tns:searchVideoByAuthor"/>

<xs:element name="searchVideoByAuthorResponse" type="tns:searchVideoByAuthorResponse"/>

<xs:element name="searchVideoByTitle" type="tns:searchVideoByTitle"/>

<xs:element name="searchVideoByTitleResponse" type="tns:searchVideoByTitleResponse"/>

<xs:element name="searchVideoByYear" type="tns:searchVideoByYear"/>

<xs:element name="searchVideoByYearResponse" type="tns:searchVideoByYearResponse"/>

<xs:complexType name="searchVideoByAuthor">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchVideoByAuthorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchVideoByTitle">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchVideoByTitleResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchVideoByYear">
<xs:sequence>
<xs:element name="year" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchVideoByYearResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>