src/conf/xml-resources/web-service-references/SearchWS/wsdl/localhost_8080/SearchWS/SearchWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="SearchWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/SearchWS/SearchWS?xsd=1"/>
</xsd:schema>
</types>
<message name="searchVideoByTitle">
<part name="parameters" element="tns:searchVideoByTitle"/>
</message>
<message name="searchVideoByTitleResponse">
<part name="parameters" element="tns:searchVideoByTitleResponse"/>
</message>
<message name="searchVideoByAuthor">
<part name="parameters" element="tns:searchVideoByAuthor"/>
</message>
<message name="searchVideoByAuthorResponse">
<part name="parameters" element="tns:searchVideoByAuthorResponse"/>
</message>
<message name="searchVideoByYear">
<part name="parameters" element="tns:searchVideoByYear"/>
</message>
<message name="searchVideoByYearResponse">
<part name="parameters" element="tns:searchVideoByYearResponse"/>
</message>
<portType name="SearchWS">
<operation name="searchVideoByTitle">
<input wsam:Action="http://webservice/SearchWS/searchVideoByTitleRequest" message="tns:searchVideoByTitle"/>
<output wsam:Action="http://webservice/SearchWS/searchVideoByTitleResponse" message="tns:searchVideoByTitleResponse"/>
</operation>
<operation name="searchVideoByAuthor">
<input wsam:Action="http://webservice/SearchWS/searchVideoByAuthorRequest" message="tns:searchVideoByAuthor"/>
<output wsam:Action="http://webservice/SearchWS/searchVideoByAuthorResponse" message="tns:searchVideoByAuthorResponse"/>
</operation>
<operation name="searchVideoByYear">
<input wsam:Action="http://webservice/SearchWS/searchVideoByYearRequest" message="tns:searchVideoByYear"/>
<output wsam:Action="http://webservice/SearchWS/searchVideoByYearResponse" message="tns:searchVideoByYearResponse"/>
</operation>
</portType>
<binding name="SearchWSPortBinding" type="tns:SearchWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchVideoByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchVideoByAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchVideoByYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SearchWS">
<port name="SearchWSPort" binding="tns:SearchWSPortBinding">
<soap:address location="http://localhost:8080/SearchWS/SearchWS"/>
</port>
</service>
</definitions>