web/WEB-INF/wsdl/localhost_8080/SearchWS2/SearchWS2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="SearchWS2">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/SearchWS2/SearchWS2?xsd=1"/>
</xsd:schema>
</types>
<message name="searchVideoByTitle">
<part name="parameters" element="tns:searchVideoByTitle"/>
</message>
<message name="searchVideoByTitleResponse">
<part name="parameters" element="tns:searchVideoByTitleResponse"/>
</message>
<message name="ClassNotFoundException">
<part name="fault" element="tns:ClassNotFoundException"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="SearchWS2">
<operation name="searchVideoByTitle">
<input wsam:Action="http://webservice/SearchWS2/searchVideoByTitleRequest" message="tns:searchVideoByTitle"/>
<output wsam:Action="http://webservice/SearchWS2/searchVideoByTitleResponse" message="tns:searchVideoByTitleResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://webservice/SearchWS2/searchVideoByTitle/Fault/ClassNotFoundException"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webservice/SearchWS2/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservice/SearchWS2/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="SearchWS2PortBinding" type="tns:SearchWS2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchVideoByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SearchWS2">
<port name="SearchWS2Port" binding="tns:SearchWS2PortBinding">
<soap:address location="http://localhost:8080/SearchWS2/SearchWS2"/>
</port>
</service>
</definitions>